doctype html
html
  head
    title= title

    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/css/bootstrap-grid.css")
    link(rel="stylesheet", href="/css/bootstrap-reboot.css")

    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="/js/jquery-3.2.1.js")
    script(scr="/js/bootstrap.js")
    script(src="/js/tether.js")

    script(src="/javascripts/angular.js")
    script(src="/javascripts/app.js")

  body(ng-app="myapp")
    block content
